## A simple .gitignore config file, I am working with macOs and VS Code

# VS Code
.vscode

# macOs
*.DS_Store

# jupyter notebooks
*.ipynb_checkpoints
*.ipynb

# python
__pycache__
*test.py
FFTplot.py

# data
*.csv
*.hdf
*.rtf

# latex
*.glo
*.idx
*.ilg
*.ind
*.bbl
*.lot
*.nlo
*.ist
*.lof
*.toc
*.aux
*.pyg
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.blg
*.run.xml
main-frn.pdf
main-frn.tex
*.bcf-SAVE-ERROR
*.bbl-SAVE-ERROR

# images
*.png

# articles and books
*.pdf